<a href="https://colab.research.google.com/github/ibrohim747/MathInPython/blob/main/Data_types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

In [34]:
alist = [0, 1, 2, 3, 4, 5]
slist = ['0','1','2','3','4','5']

print(alist)
print(slist)

[0, 1, 2, 3, 4, 5]
['0', '1', '2', '3', '4', '5']

In [9]:
alist + slist

[0, 1, 2, 3, 4, 5, '0', '1', '2', '3', '4', '5']

In [3]:
alist_np = np.array(alist)

print(alist)
print(alist_np)

[0, 1, 2, 3, 4, 5]
[0 1 2 3 4 5]

In [5]:
alist * 3

[0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5]

In [7]:
alist_np * 3

array([ 0,  3,  6,  9, 12, 15])

In [11]:
alist + 3   #Error
alist + [3]   #Correct
#List can only + to list

[0, 1, 2, 3, 4, 5, 3]

In [12]:
listlist = [
    3,
    ['3','4','5'],
    5.5,
    [4,5,6]
    ]
listlist

[3, ['3', '4', '5'], 5.5, [4, 5, 6]]

In [33]:
b = 0
for i in listlist:
    el_type = str(type(i))[8:-2]
    print("List element %g is %r and is of type %r" %(b, i, el_type))
    b += 1

List element 0 is 3 and is of type 'int'
List element 1 is ['3', '4', '5'] and is of type 'list'
List element 2 is 5.5 and is of type 'float'
List element 3 is [4, 5, 6] and is of type 'list'